<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SQLiteView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>75AF3D251C99B91E002F4742</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75AF3D381C99B91E002F4742</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75AF3D431C99B91E002F4742</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
